name: Send Discord Alert

on:
  schedule:
    - cron: "49 * * * *"  # 매 정각 55분마다 (UTC 기준)
  workflow_dispatch: # 수동 실행도 가능
jobs:
  send:
    runs-on: ubuntu-latest
    steps:
      - name: Send message to Discord
        run: |
          curl -H "Content-Type: application/json" \
          -X POST \
          -d '{"content":"⏰ 아 맞다! 결계!"}' \
          ${{ secrets.DISCORD_WEBHOOK_URL }}
