TITLE="11/3(월) 임시점검 안내 (09:00 ~11:00)"
DESCRIPTION="마비노기 모바일 임시점검 안내드립니다.\n\n[게임 점검 안내]\n\n◼ 적용 날짜: 2025년 11월 3일(월)\n◼ 시간: 오전 9시 ~ 오전 11시까지\n◼ 대상: 전체 서버\n◼ 점검 내용\n- 서버 안정화 작업"
URL="https://mabinogimobile.nexon.com/News/Notice/3208255"
FOOTER="[점검]"
COLOR=16753920

PAYLOAD=$(jq -n \
  --arg title "$TITLE" \
  --arg description "$DESCRIPTION\n\n공지 링크: $URL" \
  --argjson color "$COLOR" \
  --arg footer "$FOOTER" \
  '{
    embeds: [
      {
        title: $title,
        description: $description,
        color: $color,
        footer: {text: $footer}
      }
    ]
  }')

curl -H "Content-Type: application/json" \
     -X POST \
     -d "$PAYLOAD" \
     ${{ secrets.DISCORD_WEBHOOK_URL }}
